.app-layout {
  min-height: 100vh;
  display: flex;

  header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 12rem;
    padding: 2rem;
    position: fixed;
    top: 0;
    overflow-y: scroll;
  
    img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }
  
    a {
      display: inline-block;
      font-size: 1.8rem;
      letter-spacing: .2rem;
      position: relative;
      white-space: nowrap;
      font-weight: 400;
      margin: 0;

      &::before {
        height: .8rem;
        bottom: 33%;
      }
    }
    
    h3 {
      font-weight: 400;
      margin-top: 1rem;
      font-size: 1.5rem;
      text-decoration: underline;
    }
  }
  
  main {
    width: calc(100% - 14rem);
    padding: 1rem;
    margin-left: 16rem;
  }

  .js.language-js {
    color: $blue;
  }
}

